name: Fly Deploy
on:
  push:
    branches:
      - main

jobs:
  pre-deploy-test:
    uses: ./.github/workflows/pre-deployment-test.yml

  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    needs: pre-deploy-test
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0
      - name: Fetch beaverhabits-landing dist
        run: |
          rm -rf statics/astro/dist
          git clone --depth 1 --branch dist https://oauth2:${{ secrets.GH_PAT }}@github.com/daya0576/beaverhabits-landing.git statics/astro/dist
          rm -rf statics/astro/dist/.git

      - name: Generate Version Info
        run: |
          GIT_HASH=$(git rev-parse --short HEAD)
          GIT_TAG=$(git describe --tags --abbrev=0)
          echo "IDENTITY = \"beaverhabits/${GIT_TAG}@${GIT_HASH}\"" > ${{ github.workspace }}/beaverhabits/version.py

      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
